
body, html {
  padding: 0px;
  margin: 0px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #777777;
  height: 100%;
  width: 100%;
  background: url("../images/what-the-hex.png");
  /* background-size: cover;  */
  }
  .topnav { /*inspired from code by w3school*/
    overflow: hidden;
    background-color: #4aaaa5;
    float: right;
  }
  
  .topnav a {
    float: right;
    color: #777777;
    text-align: center;
    padding: 0 14px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #4aaaa5;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4aaaa5;
    color: black;
  }  

  header {
    background: #4aaaa5;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  h1 {
    padding: 20px 20px;
    margin: 0;
    margin-bottom: 0;
    font-size: 28px;
    color: #ffffff;
    text-align: left;
    background: #4aaaa5;
  }
  
  h2 {
    font-size: 24px;
    color:#4aaaa5;
  }
  
  a {
    color: #4aaaa5;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px auto;  
    width: 960px;
    /* float: left ; */
  }

  .container img{
    padding: 0;
    margin: 20px;
    height: 200px;
    width: 200px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input[type=text], select, textarea {
    width: 100%; 
    padding: 14px;  
    border: 1px solid #4aaaa5; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 4px; 
    margin-bottom: 20px; 
    resize: vertical; 
}
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }